article {
    color: white;
}

article .article-header {
    margin-top: 4.5em;
}

article .nav-maps {
    display: flex;
    padding: 0px 13%;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

article .content-documentation {
    display: flex;
    flex-direction: row;
    padding: 0px 13%;
}

article .content-documentation .content-div {
    width: 70%;
}

article .content-documentation .content-div .title {
    margin: 0px;
    font-size: 32px;
    border-bottom: 2px solid #333333;
    padding-bottom: 1em;
    padding-right: 9em;
}

article .content-documentation .content-div .h3 {
    font-size: 22px;
}

article .content-documentation .content-div .p {
    font-size: 18px;
}

article .content-documentation .content-div .content-roadmap {
    width: 50%;
}