{% extends "mipscode/nav-initial.html" %}
{% load static %}

{% block statics %}
<link rel="stylesheet" href="{% static 'mipscode/css/documentacao.css' %}">
{% endblock statics %}

{% block article %}
<article>
    <header class="article-header">
        <nav class="nav-maps">
            <img src="{% static 'mipscode/svgs/icons-home.svg' %}">
            <p class="color-white-opacity50 fs-6">Início</p>
            <p class="color-white-opacity50 fs-5">/</p>
            <p class="color-green fs-5">Documentação</p>
        </nav>
    </header>
    <section class="content-documentation">
        <div class="content-div">
            <h1 class="title">{{title}}</h1>
            {% for value in document %}
                {{value.h3}}
                <!-- {% if key == "title" %} -->
                <!-- <h1 class="title">{{value}}</h1>
                {% endif %}
 
                {% if key == "content" %}
                    { % for content in document.content %}
                    
                    <h3 class="h3">{{value}}</h3>
                {% endif %}

                {% if key == "p" %}
                <p class="p">{{ value }}</p>
                {% endif %} -->

                <P>--</P>
            {% endfor %}
        </div>

        <div class="content-roadmap">

        </div>

    </section>
</article>
{% endblock article %}