{% extends "mipscode/nav-initial.html" %}
{% load static %}

{% block statics %}
<link rel="stylesheet" href="{% static 'mipscode/css/ide.css' %}">
<link rel="stylesheet" href="{% static 'mipscode/css/codemirror.css' %}">

<script src="{% static 'mipscode/js/ide.js' %}"></script>
<script src="{% static 'mipscode/js/index.js' %}" defer="true" type="module"></script>
<script src="{% static 'mipscode/js/codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'mipscode/js/codemirror/mode/meta.js' %}"></script>
<script src="{% static 'mipscode/js/codemirror/mode/gas/gas.js' %}"></script>
{% endblock statics %}

{% block article %}
<article>
    <section class="section-code">
        <textarea class="codemirror-textarea code"></textarea>

        <div class="area">
            <section class="registers">
                <h3>Registradores</h3>

                <table class="table">
                    <tr>
                        <th>Identificação</th>
                        <th>Nome</th>
                        <th>Valor</th>
                    </tr>
                    <tr>
                        <td>$0</td>
                        <td>
                            <div class="border">$Zero</div>
                        </td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>$1</td>
                        <td>
                            <div class="border">$at</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$2</td>
                        <td>
                            <div class="border">$v0</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$3</td>
                        <td>
                            <div class="border">$v1</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$4</td>
                        <td>
                            <div class="border">$a0</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$5</td>
                        <td>
                            <div class="border">$a1</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$6</td>
                        <td>
                            <div class="border">$a3</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$7</td>
                        <td>
                            <div class="border">$t0</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$8</td>
                        <td>
                            <div class="border">$t1</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$9</td>
                        <td>
                            <div class="border">$t2</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$10</td>
                        <td>
                            <div class="border">$t3</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$11</td>
                        <td>
                            <div class="border">$t4</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td>$12</td>
                        <td>
                            <div class="border">$t5</div>
                        </td>
                        <td>0</td>
                    </tr>


                </table>
            </section>


        </div>

    </section>
    <footer>
        <div class="div">
            <button type="submit" class="mount button-green">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.7013 5.30364C12.5181 5.49057 12.4155 5.74189 12.4155 6.00364C12.4155 6.26539 12.5181 6.51671 12.7013 6.70364L14.3013 8.30364C14.4882 8.48687 14.7396 8.5895 15.0013 8.5895C15.2631 8.5895 15.5144 8.48687 15.7013 8.30364L19.4713 4.53364C19.9742 5.64483 20.1264 6.88288 19.9078 8.08279C19.6892 9.2827 19.11 10.3875 18.2476 11.2499C17.3852 12.1124 16.2804 12.6915 15.0805 12.9101C13.8806 13.1287 12.6425 12.9765 11.5313 12.4736L4.62132 19.3836C4.2235 19.7815 3.68393 20.005 3.12132 20.005C2.55871 20.005 2.01914 19.7815 1.62132 19.3836C1.2235 18.9858 1 18.4462 1 17.8836C1 17.321 1.2235 16.7815 1.62132 16.3836L8.53132 9.47364C8.02848 8.36245 7.87624 7.12441 8.09486 5.9245C8.31349 4.72459 8.89261 3.6198 9.75504 2.75736C10.6175 1.89493 11.7223 1.31581 12.9222 1.09718C14.1221 0.878558 15.3601 1.03081 16.4713 1.53364L12.7013 5.30364Z"
                        stroke="#2EF2AA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                Montar
            </button>

            <button class="run button-green">
                <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.5L15 10.5L1 19.5V1.5Z" fill="#2EF2AA" stroke="#2EF2AA" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Executar
            </button>

            <button class="step button-white">
                <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.5L15 10.5L1 19.5V1.5Z" fill="white" stroke="white" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M8 1.5L22 10.5L8 19.5V1.5Z" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>

                Avançar 1
            </button>

            <button class="back button-white">
                <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 19.5L1 10.5L15 1.5L15 19.5Z" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M22 19.5L8 10.5L22 1.5L22 19.5Z" fill="white" stroke="white" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Voltar 1
            </button>

            <button class="button-white">
                <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1 2.5V8.5M1 8.5H7M1 8.5L5.64 4.14C6.71475 3.06471 8.04437 2.27921 9.50481 1.85677C10.9652 1.43434 12.5089 1.38875 13.9917 1.72426C15.4745 2.05976 16.8482 2.76543 17.9845 3.77542C19.1209 4.7854 19.9828 6.06678 20.49 7.5M23 18.5V12.5M23 12.5H17M23 12.5L18.36 16.86C17.2853 17.9353 15.9556 18.7208 14.4952 19.1432C13.0348 19.5657 11.4911 19.6112 10.0083 19.2757C8.52547 18.9402 7.1518 18.2346 6.01547 17.2246C4.87913 16.2146 4.01717 14.9332 3.51 13.5"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Limpar
            </button>
        </div>

        <div class="div">
            <button class="button-green">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M19 13.5C19 14.0304 18.7893 14.5391 18.4142 14.9142C18.0391 15.2893 17.5304 15.5 17 15.5H5L1 19.5V3.5C1 2.96957 1.21071 2.46086 1.58579 2.08579C1.96086 1.71071 2.46957 1.5 3 1.5H17C17.5304 1.5 18.0391 1.71071 18.4142 2.08579C18.7893 2.46086 19 2.96957 19 3.5V13.5Z"
                        stroke="#2EF2AA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                Console
            </button>

            <button class="button-white">
                <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M19 4C19 5.65685 14.9706 7 10 7C5.02944 7 1 5.65685 1 4M19 4C19 2.34315 14.9706 1 10 1C5.02944 1 1 2.34315 1 4M19 4V18C19 19.66 15 21 10 21C5 21 1 19.66 1 18V4M19 11C19 12.66 15 14 10 14C5 14 1 12.66 1 11"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                Registradores
            </button>
        </div>
    </footer>
</article>
{% endblock article %}