{% extends "mipscode/nav-initial.html" %}
{% load static %}

{% block statics %}
<link rel="stylesheet" href="{% static 'mipscode/css/index.css' %}">
{% endblock statics %}

{% block article %}
<article>
    <section class="section-one">
        <h1>MipsCode</h1>
        <p>Uma ferramenta para desenvolver código em assembly para o processador MIPS</p>
    </section>

    <section class="section-two">
        <div class="section-two-divisions">
            <div class="division-one">
                <div class="group">
                    <h3>FEITO PARA VOCÊ</h3>
                    <p>O MipsCode possui uma IDE voltada para assembly mips, ideal para quem precisa de um ambiente de
                        desenvolvimento completo e integrado para a linguagem.</p>
                </div>
                <button class="green-button">Faça uma demonstração <img
                        src="{% static 'mipscode/svgs/icon-left.svg' %}"></button>
            </div>

            <div class="division-two"></div>
        </div>
    </section>

    <section class="section-three">
        <h3>SEJA UM EXPLORADOR</h3>

        <div class="cards">
            <div class="card">
                <img class="icon" src="{% static 'mipscode/svgs/icon-mao.svg' %}">
                <div class="group">
                    <h4>Está iniciando agora?</h4>
                    <p>Podemos te ajudar a programar em assembly de forma fácil e intuitiva.</p>
                </div>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'mipscode/svgs/icon-mao2.svg' %}">
                <div class="group">
                    <h4>Compartilhe experiência</h4>
                    <p>Uma comunidade para compartilhar conhecimento sobre programação.</p>
                </div>
            </div>
            <div class="card">
                <img class="icon" src="{% static 'mipscode/svgs/icon-save.svg' %}">
                <div class="group">
                    <h4>Guarde seus projetos</h4>
                    <p>Você pode salvar seus projetos e acessá-los a qualquer momento.</p>
                </div>
            </div>
        </div>

    </section>


    <section class="section-four">
        <h3>DEPOIMENTOS</h3>

        <div class="group">
            <div> <img src="{% static 'mipscode/svgs/icon-aspas.svg' %}"> </div>
            <div class="texts">
                <p class="comments">O site MipsCode é um ótimo recurso para aprender e praticar mips. O site fornece<br>
                    uma variedade de exemplos e tutoriais para ajudar os usuários a se familiarizarem<br> com a
                    linguagem. Eu recomendaria este site para qualquer pessoa que esteja<br> procurando um bom recurso
                    para aprender assembly mips.</p>
                <div class="texts-identification">
                    <h4>João Pereira</h4>
                    <p>Professor de Arquitetura de Computadores</p>
                </div>
            </div>

            <div class="details">
                <div class="avatar"></div>
                <div class="nexts"></div>
            </div>
        </div>
    </section>

    <section class="section-five">
        <div class="group">
            <h3>CONTATO</h3>
            <p>Alguma dúvida? Fale com a gente.</p>
        </div>

        <form action="#" class="form">
            <input type="text" class="input-form" placeholder="Nome*">
            <input type="email" class="input-form" placeholder="Email*">
            <textarea name="content" id="content" cols="30" rows="10" class="input-form" placeholder="Mensagem"></textarea>
            <input class="green-button input-submit" type="submit" value="Enviar">
        </form>
    </section>
</article>

<footer>
    <div class="div-padding">
        <div class="top">
            <img class="logo-white" src="{% static 'mipscode/svgs/logo-white.svg' %}">
            <div class="group">
                <div class="links">
                    <h4>Rotas Principais</h4>
                    <a href="">Tutorial</a>
                    <a href="">Comunidade</a>
                    <a href="">Documentação</a>
                    <a href="">Artigos</a>
                    <a href="">Fórum</a>
                </div>

                <div class="links">
                    <h4>Sobre nós</h4>
                    <a href="">Quem Somos</a>
                    <a href="">Fale conosco</a>
                    <a href="">Termos de Serviços</a>
                </div>
            </div>
            <div class="links-externs">
                <img src="{% static 'mipscode/svgs/icon-github.svg' %}">
                <img src="{% static 'mipscode/svgs/icon-instagram.svg' %}">
            </div>
        </div>
        <div class="bottom">© 2022 MipsCode. Todos os direitos reservados.</div>
    </div>
</footer>

{% endblock article %}