<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>MipsCode</title>

    {% load static %}
    {% block statics %}{% endblock statics %}

    <link rel="stylesheet" href="{% static 'mipscode/css/nav-initial.css' %}">
</head>

<body>
    <header class="header">
        <nav class="header-nav">
            <div class="header-nav-logo">
                <img src="{% static 'mipscode/svgs/logo-min.svg' %}" alt="MipsCode Logo" class="logo">
            </div>
            <div class="header-nav-links">
                <a href="{% url 'mipscode:index' %}">Início</a>
                <a href="{% url 'mipscode:ide' %}">IDE</a>
                <a href="{% url 'mipscode:index' %}">Fale Conosco</a>
                <a href="{% url 'mipscode:documentacao' %}">Documentação</a>
            </div>
            <div class="header-nav-buttons">
                <a href="{% url 'mipscode:login' %}" class="green-text">Entrar</a>
                <input class="white-button" type="button" value="Inscrevar-se">
            </div>
        </nav>

        <nav class="header-nav-mobile">
            <img src="{% static 'mipscode/svgs/logo-min.svg' %}" alt="MipsCode Logo" class="logo">
            <button class="menu">
                <img src="{% static 'mipscode/svgs/menu-min.svg' %}" alt="Menu" >
            </button>
        </nav>
    </header>
 
    <!-- Criar o menu para mobile -->


    {% block article %}{% endblock article %}

    {% block footer %}{% endblock footer %}

</body>

</html>