{% extends "mipscode/nav-login.html" %}
{% load static %}

{% block statics %}
<link rel="stylesheet" href="{% static 'mipscode/css/projeto.css' %}">
{% endblock statics %}

{% block article %}
<article>
    <header class="article-header">
        <h1 class="title-local">Meu Repositório</h1>
        <nav class="nav-maps">
            <img src="{% static 'mipscode/svgs/icons-home.svg' %}">
            <p class="text-opacity-mini">Dashboard</p>
            <p class="text-opacity-medium">/</p>
            <p class="text-green">Meu Repositório</p>
        </nav>
    </header>
    <section class="content-projetos">
        <div class="content-buttons">
            <button class="button-green-solid"><img src="{% static 'mipscode/svgs/icons-add.svg' %}">Criar novo
                arquivo</button>
            <button class="button-white-solid"><img src="{% static 'mipscode/svgs/icons-arquivo.svg' %}">Importar
                arquivo</button>
        </div>

        <div class="content-filtersesearch">
            <input type="text" class="search" placeholder="Buscar arquivo">


            <select name="filters" class="filters">
                <option value="maisrecentes">Mais Recentes</option>
            </select>
        </div>

        <div class="content-projetos-all">
            <div class="project">
                <div class="titles">
                    <h2 class="title">Multiplicação por 2.</h2>
                    <p class="time">3 horas atrás</p>
                    <p class="description">Projeto que realiza a multiplicação de um valor por 2.</p>
                </div>
                <div class="options">
                    <button class="button-open">Abrir arquivos</button>
                    <div class="div-options">
                        <img src="{% static 'mipscode/svgs/icon-favorite.svg' %}">
                        <img src="{% static 'mipscode/svgs/icon-options.svg' %}">
                    </div>
                </div>
            </div>

            <div class="project">
                <div class="titles">
                    <h2 class="title">Multiplicação por 2.</h2>
                    <p class="time">3 horas atrás</p>
                    <p class="description">Projeto que realiza a multiplicação de um valor por 2.</p>
                </div>
                <div class="options">
                    <button class="button-open">Abrir arquivos</button>
                    <div class="div-options">
                        <img src="{% static 'mipscode/svgs/icon-favorite.svg' %}">
                        <img src="{% static 'mipscode/svgs/icon-options.svg' %}">
                    </div>
                </div>
            </div>

            <div class="project">
                <div class="titles">
                    <h2 class="title">Multiplicação por 2.</h2>
                    <p class="time">3 horas atrás</p>
                    <p class="description">Projeto que realiza a multiplicação de um valor por 2.</p>
                </div>
                <div class="options">
                    <button class="button-open">Abrir arquivos</button>
                    <div class="div-options">
                        <img src="{% static 'mipscode/svgs/icon-favorite.svg' %}">
                        <img src="{% static 'mipscode/svgs/icon-options.svg' %}">
                    </div>
                </div>
            </div>
        </div>

    </section>
</article>
{% endblock article %}